@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  color: #333;
  line-height: 1.6;
  padding: 20px;
}

/* Estilo para los títulos */
h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  text-align: center;
}

/* Estilos para el formulario */
form {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input[type="text"], input[type="number"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
  margin: 10px
}

button:hover {
  background-color: #0056b3;
}

/* Estilos para la tabla */
table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 30px;
}

table th, table td {
  padding: 15px;
  border: 1px solid #ddd;
  text-align: left;
}

table th {
  background-color: #007bff;
  color: #fff;
}

table td {
  background-color: #fff;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}
